<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<div class="container">
  <section class="tools">
    <div class="row">
      <label class="title">Process</label>
      <ul class="options">
        <li class="option">
          <img src="assets/icons/machine.png" alt="" />
          <button (click)="drawrect()">Produce (Q)</button>
        </li>
        <li class="option">
          <img src="assets/icons/consumers.png" alt="" />
          <button (click)="drawcircle()">Consume (M)</button>
        </li>
        <li class="option">
          <img src="assets/icons/line.png" alt="" />
          <button
            href="javascript:void(0)"
            onclick="document.getElementById('id01').style.display='block'"
          >
            Link <i class="fa fa-link"></i>
          </button>
        </li>
      </ul>
    </div>
    <div class="run">
      <label class="title">Simulation</label>
      <input
      (blur)="get_pro(product.value)"
        class=""
        type="text"
        placeholder="Enter number of products"
        #product
      />
      <button class="btn btn-dark" (click)="Run()">
        Simulate <img src="assets/icons/play.png" alt="" />
      </button>
    </div>

    <div class="run">
      <button class="btn btn-dark" (click)="clear_request()">
        Clear All <img class="imgbutton" src="assets/icons/clearall.png" />
      </button>
    </div>
    <br />
    <div class="run">
      <button class="btn btn-dark" (click)="stop()">
        Stop <img class="imgbutton" src="assets/icons/stop.png" />
      </button>
    </div>
    <div class="run">
      <button class="btn btn-dark" (click)="clear_request()">
        Resume <img class="imgbutton" src="assets/icons/resume.png" />
      </button>
    </div>
    <div class="run">
      <button class="btn btn-dark" (click)="re_Run()">
        Re-Simulate <img class="imgbutton" src="assets/icons/replay.png" />
      </button>
    </div>
  </section>
  <section id="board"></section>
</div>

<div id="id01" class="w3-modal" style="border-radius: 20px">
  <div class="w3-modal-content">
    <div class="w3-container w3-padding">
      <span
        onclick="document.getElementById('id01').style.display='none'"
        class="w3-right w3-xxlarge"
        ><i class="fa fa-remove"></i
      ></span>
      <h2>
        Link<i
          class="fa fa-link"
          style="margin-left: 10px; font-size: 40px; color: black"
        ></i>
      </h2>
    </div>
    <div class="w3-panel">
      <div>
        <label for="from">From :</label>
        <div>
          <select class="selectdropdown" #from id="from">
            <option value="select">Select source</option>
            <option *ngFor="let so of all">{{ so }}</option>
          </select>
        </div>
        <label for="from">To :</label>
        <div>
          <select class="selectdropdown" #to id="to">
            <option value="select">Select destination</option>
            <option  *ngFor="let so of all">{{ so }}</option>
          </select>
        </div>
      </div>

      <div>
        <button
          class="add-to-contacts-button btn btn-primary"
          onclick="document.getElementById('id01').style.display='none'"
          (click)="put_arrow(from.value, to.value)"
        >
          Link
          <i
            class="fa fa-link"
            style="color: azure; font-size: 18px; margin-left: 5px"
          ></i>
        </button>
      </div>
    </div>
  </div>
</div>

